# Absolute path to the repo on the host machine
HOST_PROJECT_ROOT=/home/inna/mlops-hw3-e2e-ml-pipeline

# Nebius API Key
NEBIUS_API_KEY=your_nebius_api_key

# Airflow
AIRFLOW_ADMIN_PASSWORD=your_airflow_admin_password

# MinIO endpoint (local S3)
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
S3_BUCKET=mlops-runs

# Used for standalone Airflow run (not needed for docker compose)
MLFLOW_URL=http://localhost:5000
S3_ENDPOINT_URL=http://localhost:9000